<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>PANA Chat</title>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="./style.css">
    <script src="./bower_components/angular/angular.js"></script>
    <!-- Firebase -->
    <script src="./bower_components/firebase/firebase.js"></script>
    <!-- AngularFire -->
    <script src="./bower_components/angularfire/dist/angularfire.js"></script>
    <!--Angular-Material-->
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <!--New-Router-->
    <script src="./bower_components/angular-new-router/dist/router.es5.min.js"></script>
    <!--Script-->
    <script src="./app.js"></script>
    <!--User Service-->
    <script src="./userDetailsService.js"></script>
    <!--Conpmonents-->
    <script src="./components/home/home.js"></script>
    <script src="./components/chat/chat.js"></script>
</head>
<body ng-app="app" ng-controller="AppController">
            <div class="mainBox" layout="row">
                <div flex="5"></div>
                <div flex="90">
                    <md-toolbar layout="column">
                        <div class="md-toolbar-tools" style="  background-color: #00BBD4;  height: 80px;">
                            <div layout="row" style="width: 100%;">
                                <div flex="15">
                                    <h4 class="md-display-1"> Chat <span class="heading">App</span> </h4>
                                </div>
                                <div flex="50"></div>
                                <div flex="15">
                                    <!--<p ng-hide="chat.flag" style="margin-left: 27%;">{{chat.userName}}</p>-->
                                </div>
                                <div flex="10">

                                </div>
                            </div>
                        </div>
                    </md-toolbar>
                    <!--<div style="margin-top: 100px" layout='row'>
                        <div flex='15'></div>
                        <div flex='10'>
                            Online Friends!!<br>
                            <img ng-src="{{chat.imgURL}}" style="border-radius: 50%">
                        </div>
                        <div flex='50'>
                        <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
                            <div layout="column" layout-fill>
                                <div><h3 class="history">Recent Conversation</h3></div>
                                  <md-content style="height: 300px; width: 526px; margin-left: 50px;">
                                    <md-list>
                                      <md-list-item class="md-3-line" ng-repeat="item in chat.message">
                                        &lt;!&ndash; <img ng-src="./images/ic_send_24px.svg" alt="{{item.name}}" class="md-avatar"> &ndash;&gt;
                                        <div class="md-list-item-text" >    
                                            <h4>{{item.name}}</h4>
                                            <p style="margin-left: 20px">
                                            {{item.text}}
                                          </p>
                                        </div>
                                        <md-divider inset></md-divider>
                                      </md-list-item>
                                    </md-list>
                                </md-content>
                            </div>
                        </md-whiteframe>                            
                        <div layout='row'>
                            <div flex='20'></div>
                            <div flex='60'>
                        &lt;!&ndash; Message &ndash;&gt;
                                <div layout="row">
                                    <md-input-container style="width: 300px;">
                                    <label>Message: </label>
                                    <input type="text" ng-model="chat.myMessage" required md-maxlength="50" ng-keypress="chat.call($event)">
                                    </md-input-container>
                                </div>                                
                            </div>
                            <div flex='20'></div>
                        </div>                                
                        </div>
                        <div flex='25'></div>                    
                    </div>-->
                    <ng-viewport></ng-viewport>
                </div>
                <div flex="5"></div>
            </div>
</body>
</html>
